<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <title>main</title>
  </head>
  <body>
    <header>
          <h1>NoteBook</h1>
    </header>

<!--    Search box:-->
    <div style = border:none;>
      <form action="{{ url_for('main_page') }}" method="POST">
        <label for="term">Search term:</label><br>
        <input type="text" id="term" name="term"><br>
        <button type="submit" name="action" value="search">"Search"</button>
      </form>
    </div>

<!--    Search results:-->
    {% if searches %}
      <div>
        <h3>Search Results: </h3>
        {% for found in searches %}
          <p>{{ found }}</p>
        {% endfor %}
      </div>
    {% endif %}

<!--    All notes-->
    <div>
      <h3>All Notes</h3>
      {% for note in notes %}
        <p>{{ note }}</p>
      {% endfor %}
    </div>


    <div>
      <h3>Add a Note</h3>
      <form action="{{ url_for('main_page') }}" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="5" cols="40"></textarea>
        <button type="submit" name="action" value="add">"Add"</button>
      </form>
    </div>

<!--    View a note:-->
    <div>
      <h3>View a Note</h3>
      <form action="{{ url_for('find_note') }}" method="POST">
        <label for="note">View Note:</label><br>
        <input type="text" id="note" name="note"><br>
        <button type="submit" name="action" value="find">"Search"</button>
      </form>
    </div>

  </body>
</html>